<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Edge Framework</title>
    </head>
    <body>
        <div id="page">
            <div class="head">
                <div class="logo">
                <img src="images/logo.png" />
                </div>
                <div class="menu">
                <ul class="topnav" id="myTopnav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/docs">Documentation</a></li>
                    <li><a href="https://github.com/jersobh/edge-framework">Github</a></li>
                    <li class="icon">
                        <a href="javascript:void(0);" onclick="nav()">&#9776;</a>
                    </li>
                </ul>
                </div>
            </div>
            <div class="container">
                <h1 class="title">The Edge Framework</h1>

                <p class='brief'>The Edge Framework is a micro-framework designed to be secure, modular and fast. It uses some of the best practices found on the most modern frameworks.<br /> Actually, this came after a discussion where I said that CodeIgniter sucks, and then a guy said "So do better". And that's what I'm trying to archieve here.</p>
                <p class='brief'>Edge supports generating PDF files on a single line of code, on the fly. <br /><a class='btn' href='/example/pdf'>View example</a> </p>
                <p class='brief'>Also supports creating RESTful API's with a damn single line of fucking code. Awesome, huh? <br /><a class='btn' href='/example/json'>View example</a> </p>
                <p class='brief'>And it has Twig templating engine with caching, routes with caching, uses PSR-shit, a docker image prepared to run it with a single docker-compose up command and much more to come.</p>
                
                <h1 class="title">Coming soon</h1>
                <p class="brief">
                    MongoDB - Damn easy CRUD support (already available on docker) <br />
                    Redis - Session control using Redis (already available on docker) <br />
                    Auth - Pre-build auth system. Because it's boring to do over and over again. <br />
                    <br />
                </p>
            </div>
            <div id="footer">
                <div class="left">
                    <p>License: <a href="https://raw.githubusercontent.com/jersobh/edge-framework/master/LICENSE" >MIT</a> | Author: <a href="https://github.com/jersobh/edge-framework">@jersobh </a>| email: <a href="mailto:jersobh@gmail.com">jersobh@gmail.com</a></p>
                </div>
            </div>
        </div>
                <script>
                    function nav() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
                    </script>
    </body>
</html>
