<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Edge Framework</title>
    </head>
    <body>
        <div id="page">
            <div class="head">
                <div class="logo">
                    <img src="/images/logo.png" />
                </div>
                <div class="menu">
                    <ul class="topnav" id="myTopnav">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/features">Features</a></li>
                        <li><a href="/docs">Documentation</a></li>
                        <li><a href="https://github.com/jersobh/edge-framework">Github</a></li>
                        <li class="icon">
                            <a href="javascript:void(0);" onclick="nav()">&#9776;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <a class="btn" style="float:right;" href="http://localhost/example/users/add">Add username</a>
                <h1>Usernames</h1>
                {% if users %}
                    <ul>
                        {% for user in users %}
                            <li style="color:#fff;">{{ user.username|e }}</li>
                            {% endfor %}
                    </ul>
                    <a class="btn" href="http://localhost/example/users/delete">Clear data</a>
                {% else %}
                    <p>No users found. </p>
                {% endif %}
            </div>
            <div id="footer">
                <div class="left">
                    <p>License: <a href="https://raw.githubusercontent.com/jersobh/edge-framework/master/LICENSE" >MIT</a> | Author: <a href="https://github.com/jersobh/edge-framework">@jersobh </a>| email: <a href="mailto:jersobh@gmail.com">jersobh@gmail.com</a></p>
                </div>
            </div>
        </div>
        <script>
            function nav() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    </body>
</html>
